/* Header */

.header {
    border-bottom: 1px solid var(--header-border);
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .header__nav {
    display: flex;
    gap: 93px;
    align-items: center;
  }
  
  /* Site-nav */
  
  .site-nav {
    @extend %list;
    display: flex;
    gap: 50px;
  }
  
  .site-nav__link {
    @extend %link;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    min-width: 48px;
  
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    
    &--current {
        position: relative;
        color: var(--accent-color);
      }
      
     &--current::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
      
        background-color: var(--accent-color);
        border-radius: 2px;
      }
  }
  
   
    /* Contacts-nav */
  
  .contacts-nav {
    @extend %list;
    display: flex;
    margin-left: auto;
    gap: 30px;
  }
  
  .contacts-nav__link {
    @extend %link;
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: var(--secondary-text-color);
  
    transition: fill 250ms var(--timing-function),
      color 250ms var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
      }
  }
  
  .contacts-nav__icon {
    margin-right: 10px;
  }
  
